@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.header {
  height: 680px;
  width: 100%;
  background-image: url('../images/hair-cat-header/hair-cat-header.jpg');
  background-size: contain;
  background-color: #B8E6E3;
  background-repeat: no-repeat;
  padding-left: 80px;
}

.headerLogo {
  max-width: 40px;
  height: auto;
}

.beGoodHead {
  height: 200px;
  margin-top: 172px;
  font-family: 'Montserrat', sans-serif;
  font-size: 82px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #0c3c3d;
}

.roundTheClock {
  margin-top: 22px;
}

@media (max-width: 768px) {
  .beGoodHead {
  font-size: 40px;    
  }
}

@media (max-width: 480px) {

}