:root {
  --tealish: #34d1d1;
  --dark-green: #0c3c3d;
}

.header {
  height: 680px;
  width: 100%;
  background-image: url('../images/hair-cat-header/hair-cat-header.jpg');
  background-position: right bottom;
  background-size: contain;
  background-color: #b8e6e3;
  padding-left: 80px;
}

.header,
.hairloss,
.midSectionSexx {
  background-repeat: no-repeat;
}

.headerLogo {
  margin-top: 30px;
  max-width: 40px;
  height: auto;
}

.beGoodHead {
  height: 165px;
  margin-top: 90px;
  font-family: 'Montserrat', sans-serif;
  font-size: 82px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
  color: #0c3c3d;
}

.roundTheClock {
  font-family: Helvetica, sans-serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 1.44;
  letter-spacing: normal;
  margin-left: 10px;
  color: #0c3c3d;
}

.ctaHeader {
  width: 200px;
  height: 48px;
  border-radius: 49.5px;
  box-shadow: 0 10px 30px -20px rgba(0, 0, 0, 0.5);
  background-color: var(--tealish);
  border: none;
  margin: 38px 0 0 14px;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 2.4px;
  color: #fff;
}

.canHelp {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canHelp h3 {
  font-size: 36px;
  font-weight: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #0c3c3d;
}

.hairloss {
  background-position: 100% 50%;
  background-image: url('../images/number1.png');
  max-width: 820px;
}

.midSectionElems {
  display: flex;
  background-size: 70%;
  padding: 0 20px;
  justify-content: space-between;
  margin: auto;
}

.midSectionSexx {
  background-image: url('../images/number2.png');
  background-position: -10% 50%;
  flex-direction: row-reverse;
  max-width: 880px;
  margin-top: 100px;
}

.hairlossSect {
  padding-top: 160px;
  margin-bottom: 60px;
}

.midSectArticles {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
}

.erectileArticle {
  padding-top: 160px;
  margin-bottom: 90px;
  margin-left: 30px;
}

.midSectBold {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  color: var(--tealish);
}

.midSectParaOne {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1.45;
  color: var(--dark-green);
}

.midSectParaTwo {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  line-height: 1.73;
  color: var(--dark-green);
}

@media (max-width: 1024px) {
  .header {
    height: 610px;
    background-size: 95%;
  }

  .beGoodHead {
    height: 150px;
    font-size: 70px;
  }

  .midSectionElems {
    justify-content: space-around;
  }

  .midSectArticles {
    padding-top: 100px;
  }

  .healthPhotos {
    max-width: 350px;
    height: auto;
  }
}

@media (max-width: 800px) {
  .header {
    padding-left: 60px;
    height: 500px;
    background-size: 90%;
  }

  .beGoodHead {
    height: auto;
    margin-top: 50px;
    font-size: 55px;
  }

  .roundTheClock {
    font-size: 18px;
  }

  .ctaHeader {
    font-size: 11px;
    width: 150px;
    height: 40px;
    margin-top: 30px;
  }

  .midSectionElems {
    width: auto;
    flex-direction: column-reverse;
    align-items: center;
  }

  .hairloss {
    background-position: 80% 35%;
  }

  .midSectArticles {
    height: 240px;
    padding-top: 10px;
    width: 50%;
  }

  .midSectionSexx {
    background-position: 30% 20%;
  }

  .erectileArticle {
    height: 200px;
    margin-bottom: 40px;
  }
}

@media (max-width: 560px) {
  .header {
    padding-left: 45px;
  }

  .beGoodHead {
    font-size: 45px;
  }

  .roundTheClock {
    font-size: 16px;
  }

  .canHelp {
    height: 120px;
  }

  .canHelp h3 {
    font-size: 26px;
  }

  .midSectionSexx {
    margin-top: 80px;
  }

  .hairlossSect {
    margin-bottom: 40px;
  }

  .midSectArticles {
    height: auto;
    width: 70%;
    margin-bottom: 20px;
  }

  .midSectArticles > * {
    margin-bottom: 10px;
  }

  .healthPhotos {
    max-width: 300px;
  }
}

@media (max-width: 425px) {
  .header {
    padding-left: 30px;
    height: 400px;
  }

  .beGoodHead {
    font-size: 30px;
    margin-top: 40px;
  }

  .roundTheClock {
    font-size: 13px;
  }

  .ctaHeader {
    font-size: 9px;
    width: 130px;
  }

  .canHelp h3 {
    font-size: 20px;
  }

  .healthPhotos {
    max-width: 250px;
  }

  .hairloss {
    background-position-y: 45%;
  }

  .midSectArticles {
    width: 100%;
    padding: 0 40px;
  }

  .midSectionSexx {
    margin-top: 60px;
    background-position: 30% 60%;
  }
}
