body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide-elem, .hide-by-default {
  display: none;
}

.show-elem {
  display: initial;
}

ul li {
  list-style: none;
}